<h1 class="logo"><a href="/">My Guestbook App</a></h1>
<ul class="topNav">
  <li><a href="/">HOME</a></li>
  <li><a href="/newmessage">MESSAGE</a></li>
  <li><a href="/ajaxmessage">AJAX</a></li>
  <li><a href="/guestbook" class="topNavLast">GUESTBOOK</a></li>
</ul>
<br class="clear" />
