<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs'); %>
  </head>

  <body>
    <div id="wrapper">
      <div id="branding">
        <%- include ('../partials/header.ejs'); %>
      </div>
      <div class="midBox2">
        <div class="midBox2L">
          <h2>What is my Guestbook App all about?</h2>
          <h3>
            Welcome to my Guestbook app! This Guestbook App is made with node.js
            application allows you to leave messages to a public guestbook.
          </h3>
        </div>
        <img src="images/welcome.jpg" width="460" height="237" alt="" />
      </div>
    </div>
    <div id="footerContainer">
      <%- include ('../partials/footer.ejs'); %>
    </div>
  </body>
</html>
